* {
  margin: 0;
  font-family: europa, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  height: 100%;
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
}

.main {
  background: #0a0a0a;
  width: 100%;
  height: 100%;
}

#root {
  background: #0a0a0a;
  width: 100%;
  height: 100%;
}

.header {
  background: #0a0a0a;
  width: 100%;
  height: 175px;
  box-shadow: black 0 5px 5px 0;

  position: fixed;
  z-index: 5;

  overflow: hidden;
  transition: height 1s cubic-bezier(0.33, 1, 0.68, 1);


}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  transition: width 1s cubic-bezier(0.33, 1, 0.68, 1);
}

.header-name {
  position: static;
  display: block;
  padding: 23px 40px; /* DON'T CHANGE THIS I MESSED WITH THIS ON PURPOSE :) */
  font-size: 30px;
  line-height: 60px;
}

h2 {
  font-weight: 600;
  text-align: left;
  overflow: visible;
  color: white;
  height: auto;

  transition: font-size 1s, margin-left 1s cubic-bezier(0.33, 1, 0.68, 1), line-height 1s;
}

.hero-name {
  font-size: 150px;
  line-height: 250px;
}

.nick-shift {
  margin-left: 42px;
}


.bg {
  height: 100%;
  width: 100%;
  background: #0a0a0a;
  position: fixed;
  z-index: -2;
}

.side-nav {
  height: 100%;
  background: #0a0a0ae6;

  width: 200px;
  box-shadow: black 5px 0 7px 0;

  position: fixed;
  z-index: 4;
  margin-top: 175px;
}

ul {
  padding: 60px 30px 30px;
}

.subtitle {
  font-variant: small-caps;
  font-weight: 900;
  font-size: 30px;
}

h4 {
  color: white;
  font-size: 25px;
}

.highlight {
  display: block;
  position: static;
  height: 24px;
  width: 2px;

  box-shadow: #00ffea 0 0 7px 1px;
  background: #00ffea;

  margin-top: 6px;
  margin-left: -10px;
  margin-right: 10px;
}

.gallery {
  height: auto;
  position: absolute;
  z-index: 2;
  left: 200px;
  background: #0a0a0a;
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
  margin-top: 175px;
}

.side-nav-item {
  padding-bottom: 45px;
  display: flex;
  align-items: center;
}

.gallery-item {
  width: 500px;
  height: 300px;
  border: solid white 2px;
  box-shadow: white 0 0 5px 0;
  margin: 20px;
  position: relative;
}

.gallery-flex {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  position: absolute;
  z-index: 5;
}

.gallery-shade {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 0;
  transition: opacity 0.25s cubic-bezier(0.33, 1, 0.68, 1);
}

.opaque {
  opacity: 1;
}

.transparent {
  opacity: 0;
}

.defaultShade {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.7));
}

.hoverShade {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.0));
}

.colorShade {
  transition: opacity 0.1s cubic-bezier(0.33, 1, 0.68, 1);
  box-shadow: inset black 0 0 7px 0;
}

.gallery-image {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  object-fit: cover;
}

.item-info {
  color: white;
  text-align: right;
  padding: 10px;
  font-size: 25px;
}

.item-title {
  font-weight: 700;
}

.item-description {
  font-weight: 100;
}

.pixi-canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -5;
}